body {
	background-color: ghostwhite;
}

li {
/* 	background-color: red; */
	background-color: #557A95;
	color: white;
/* 	padding: 1em 1.5em; */
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
/* 	display: flex; */
	font-size: 16px;
	font-family: "Arial";
	cursor: pointer;
/* 	position: relative; */
	position: absolute;
}

li:hover {
	opacity: 0.5;
}

li:active {
  background-color: black;
}

li:visited {
  background-color: #ccc;
}

/* Non-Demo Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.collapsible {
  background-color: #107896;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #43ABC9;
}

.content {
  padding: 0 18px;
  display: none;
/*   display: flex; */
  overflow: hidden;
  background-color: #f1f1f1;
}
